/* -----
Main Styles - Mobile First
----- */


/* This css style is for the hero section that is positioned on top of every page
    directly under the header.*/
.hero-section {
    display: flex; /*We make it a flex for organization purposes of course.*/
    flex-direction: column; /* The content needs to be aligned one under the other.*/
    flex-basis: content; /* The size of the flex is described by it's content.*/
    align-items: center; /* Items aligned to the center of the horizontal axis.*/
    width: 100%;
    height: 100vh;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    /* This is the image used as a background.
        Our pages are made mobile first so it is relatively small.
        For bigger screens we change the background with the media queries given 
        at the end of the file.*/
    background-image: url("../assets/images/rasters/about/bio-wallpaper-480x720.jpg");
    /* We use this style to make an image get the full
        slot given and not repeat itself.*/
    background-size: cover;
    /* These ones are just helpers for each web browser.
        Sometimes certain browsers on certain devices don't apply some styles
        unless they explicitly said to.*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-section h2 {
    /* These stiles are used to customise our fonts on occasion*/
    font-size: calc(var(--heading-font-size) * 0.8);
    color: var(--text-color);
    text-decoration: none;
    /* And these are for positioning*/
    width: 70%;
    position: relative;
}

.hero-section h3 {
    /* Same with these.*/
    font-size: calc(var(--heading-font-size) * 0.8);
    color: var(--text-color);
    text-decoration: none;
}

.learn-more {
    position: relative;
}


.student1 {
    width: 80%;
    height: auto;
    /* We use these ones to customize the borders,
        take note that not all sides have borders.
        The border is solid with means that it is a consecutive with color,
        our brand color.
        Border radius makes edges smoother in a way.*/
    border-right: var(--border-width) solid var(--brand-color);
    border-bottom: var(--border-width) solid var(--brand-color);
    border-radius: 15px;
    margin-top: 5em;
    /* The background image here is an svg, we customize svg's 
        further down.*/
    background-image: url("../assets/images/graphics/backgrounds/bio-pattern.svg");
    padding: 2.5em; /* Padding is need so the card don't falls on the edge of the screen in an ugly way.*/
}

.student1 img {
    float: right; /* We make the image float so the text, wraps in a way the img.*/
    border: 0.2em solid var(--complimentary-color);
    border-radius: 50%;
    margin: 0.8em;
}

.student2 img {
    float: left;
    border: 0.2em solid var(--complimentary-color);
    border-radius: 50%;
    margin: 0.8em; /* Needed so the text want be to close to the img.*/
}

.student1 h3 {
    position: relative;
}

/* The second student needs positioning so we can achieve the out put */
.student2 {
    position: relative;
    left: 20%;
    width: 80%;
    height: auto;
    border-left: var(--border-width) solid var(--brand-color);
    border-bottom: var(--border-width) solid var(--brand-color);
    border-radius: 15px;
    padding: 2.5em; /* Same here as previously with the edge.*/
    margin-top: 5em; /* Apply some distance between the cards.*/
    background-image: url("../assets/images/graphics/backgrounds/bio-pattern.svg");
}

.student2 h3 {
    /* A bit of positioning for the header as it is on the other side of the screen.*/
    position: relative;
}

/* Student1 and student2 classes have the same appearance.*/
.student1 div,
.student2 div {
    position: relative;
    background-color: var(--accent-color);
    border-radius: 15px;
    opacity: 0.97;
}

/* Same for the headings*/
.student1 h3,
.student2 h3 {
    padding-left: 1.3em;
    padding-right: 1.3em;
}

/* Same for the paragraphs.*/
.student1 p,
.student2 p {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.hero-section svg {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(90deg);
}

.hero-section .svg-icon path {
    fill: var(--text-color);
}


/* -----
Media Queries
----- */

/* We apply new covers for small tablets*/
@media screen and (min-width: 30em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-768x1310.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

/* We apply new covers for tablets*/
@media screen and (min-width: 48em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1080x1795.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    /*We also change the size of the student photo.*/
    .student1 img,
    .student2 img {
        content: url("../assets/images/rasters/about/DimitriosVlantis-200x200.jpg");
    }
}

/* We apply new covers for small desktops*/
@media screen and (min-width: 67.5em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1440x1925.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    /* We make the car look more narrow so it doesn't stretch
        from one side of the screen to the other.*/
    .student1 {
        width: 50%;
        height: auto;
    }

    .student2 {
        position: relative;
        width: 50%;
        height: auto;
    }

    /* We change the style of the page, make it more fluid.
        We make the image get out the normal flow of content by 
        using absolute and we position it beside the the card in
        the free space.*/
    .student1 img {
        float: none;
        position: absolute;
        top: 5%;
        right: -130%;
        margin-right: 10%;
        content: url(../assets/images/rasters/about/DimitriosVlantis-400x400.jpg);
    }

    .student2 img {
        float: none;
        position: absolute;
        top: 5%;
        left: -130%;
        content: url(../assets/images/rasters/about/DimitriosVlantis-400x400.jpg);
    }
}

/* We apply new covers for desktops*/
@media screen and (min-width: 90em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1921x2198.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    /* Same as before but slightly different poisoning for a better outcome*/
    .student1 img {
        float: none;
        position: absolute;
        top: 5%;
        right: -110%;
        margin-right: 10%;
        content: url(../assets/images/rasters/about/DimitriosVlantis-400x400.jpg);
    }

    .student2 img {
        float: none;
        position: absolute;
        top: 5%;
        left: -110%;
        content: url(../assets/images/rasters/about/DimitriosVlantis-400x400.jpg);
    }
}

/* We apply new covers for big desktops*/
@media screen and (min-width: 120em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-2250x2376.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

