/* -----
Main Styles - Mobile First
----- */


/* This css style is for the hero section that is positioned on top of every page
    directly under the header.*/
.hero-section {
    display: flex; /*We make it a flex for organization purposes of course.*/
    flex-direction: column; /* The content needs to be aligned one under the other.*/
    flex-basis: content; /* The size of the flex is described by it's content.*/
    align-items: center; /* Items aligned to the center of the horizontal axis.*/
    width: 100%;
    height: 100vh;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    /* This is the image used as a background.
        Our pages are made mobile first so it is relatively small.
        For bigger screens we change the background with the media queries given 
        at the end of the file.*/
    background-image: url("../assets/images/rasters/about/bio-wallpaper-480x720.jpg");
    /* We use this style to make an image get the full
        slot given and not repeat itself.*/
    background-size: cover;
    /* These ones are just helpers for each web browser.
        Sometimes certain browsers on certain devices don't apply some styles
        unless they explicitly said to.*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-section h2 {
    /* These stiles are used to customise our fonts on occasion*/
    font-size: calc(var(--heading-font-size) * 0.625);
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--background-color);
    margin-left: 0.5em;
    padding: 0.5em 0.75em;
    max-width: 75%;
    align-self: flex-start;
}

.hero-section h3 {
    /* Same with these.*/
    font-size: calc(var(--heading-font-size) * 0.5);
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
}

.learn-more {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background: var(--background-color);
    box-shadow: 1em 1em 0 0;
}

.learn-more a {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    gap: 0.4em;
}

.hero-section .learn-more a:hover:after {
    width: 0;
}

#bio {
    display: flex;
    flex-direction: column;
}

.student {
    width: 95%;
    height: auto;
    /* We use these ones to customize the borders,
        take note that not all sides have borders.
        The border is solid with means that it is a consecutive with color,
        our brand color.
        Border radius makes edges smoother in a way.*/
    border-bottom: var(--border-width) solid var(--brand-color);
    border-radius: 15px;
    margin-top: 5em;
    /* The background image here is an svg, we customize svg's
        further down.*/
    background-image: url("../assets/images/graphics/backgrounds/bio-pattern.svg");
    padding: 1.25em; /* Padding is need so the card don't falls on the edge of the screen in an ugly way.*/
}

.student1 {
    border-right: var(--border-width) solid var(--brand-color);
}

.student2 {
    border-left: var(--border-width) solid var(--brand-color);
    align-self: flex-end;
}

.student img {
    border: 0.2em solid var(--complimentary-color);
    border-radius: 50%;
    margin: 0.8em;
    max-width: 30%;
}

.student1 img {
    float: right; /* We make the image float so the text, wraps in a way the img.*/
}

.student2 img {
    float: left;
}

/* Student1 and student2 classes have the same appearance.*/
.student div {
    position: relative;
    background-color: var(--accent-color);
    border-radius: 15px;
    opacity: 0.97;
}

/* Same for the headings*/
.student h3 {
    padding: 2em 0.5em 0;
    font-size: calc(var(--heading-font-size) * 0.5);
    width: unset;
}

/* Same for the paragraphs.*/
.student p {
    padding: 1em;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.hero-section svg {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(90deg);
}

.hero-section .svg-icon path {
    fill: var(--text-color);
}


/* -----
Media Queries
----- */

/* We apply new covers for small tablets*/
@media screen and (min-width: 30em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-768x1310.jpg");
    }
}

/* We apply new covers for tablets*/
@media screen and (min-width: 48em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1080x1795.jpg");
    }
}

/* We apply new covers for small desktops*/
@media screen and (min-width: 67.5em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1440x1925.jpg");
    }

    .student h3 {
        padding: 1em 1em 0;
    }

}

/* We apply new covers for desktops*/
@media screen and (min-width: 90em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-1921x2198.jpg");
    }
}

/* We apply new covers for big desktops*/
@media screen and (min-width: 120em) {
    .hero-section {
        background-image: url("../assets/images/rasters/about/bio-wallpaper-2250x2376.jpg");
    }
}

