/* Fonts */

/* fira-sans */
/* normal */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-100.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-100.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* thin */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-200.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-200.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-300.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-300.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* semi-light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-400.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-400.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* regular */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-500.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-500.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-600.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-600.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-700.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-700.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* bolder */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-800.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-800.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* extra bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-900.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-900.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* super bold */
/* italic */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-100-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-100-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* thin */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-200-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-200-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-300-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-300-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* semi-light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-400-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-400-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* regular */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-500-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-500-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* medium */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-600-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-600-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-700-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-700-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* bolder */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-800-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-800-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* extra bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-900-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-900-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* super bold */
/* roboto-slab */
@font-face {
    font-family: roboto-slab;
    src: local('Roboto Slab'),
    url(../assets/fonts/roboto-slab/woff-2/roboto-slab-variable.woff2) format("woff2"),
    url(../assets/fonts/roboto-slab/woff/roboto-slab-variable.woff) format("woff"),
    url(../assets/fonts/roboto-slab/ttf/roboto-slab-variable.ttf) format("truetype");
}

/*
    Add root and brand information. Colors, font values, font sizes and line height.
    The font size and line height calculators calculate the base font(line) size taking into account the smaller and
    bigger currently available screens (320 on cell phone, 8k resolution TV) and the size of the scrollbar. It also
    uses em measurement unit to take into account user preferences set through the browser. Values of the first term of
    the multiplication correspond to desired maximum and minimum font(line) size values (i.e. 48px, 14px).

    Inspired by this article https://www.madebymike.com.au/writing/precise-control-responsive-typography/
*/
:root {
    --brand-color: #FA5FC1ff;
    --accent-color: #F0B6DBff;
    --complimentary-color: #c1fa5f; /*#DDEF53ff;*/
    --text-color: #080808ff;
    --title-color: #4B2C4Eff;
    --link-color: #066063ff;
    --link-color-hover: #990899ff;
    --hover-color: var(--complimentary-color);
    --focus-color: #5ffad1; /*#74fa5f;*/
    --background-color: #FEFFEA; /*fafafaff*/
    --box-shadow-color: #08080866;

    --font-family-title: roboto-slab;
    --font-family-text: fira-sans;
    --font-size: calc(1em + (48 - 14) * ((100vw - 320px) / (7680 - 320 - 16)));
    --line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px) / (7680 - 320 - 16)));
    --heading-font-size: calc(var(--font-size) * 2.5);
    --text-font-weight: 300;
    --link-font-weight: 400;
    --title-font-weight: 400;
    --letter-spacing: 0.045em;
    --border-width: 0.25em;
    --underline-width: 0.1em;
}

/*
    Set base text color, background color, font properties. Scroll behavior dictates how the page will move to a
    scrolling anchor. Smooth makes it roll to the anchor smoothly.
*/
html {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-family-text);
    line-height: var(--line-height);
    letter-spacing: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    overflow-wrap: anywhere;
    transition: color 187.5ms ease-in-out,
    background-color 0.25s ease-in-out,
    border 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
    position: absolute;
    top: 0;
    padding: calc(max(7.5vh, 100px) + 2.5%) 0;
}

body * {
    box-sizing: inherit;
}

/*
    Font family for headers
*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    line-height: 1.25em;
    transition: color 187.5ms ease-in-out;
    text-shadow: 0.07em 0.07em 0.25em var(--box-shadow-color);
}

h1, h2 {
    text-decoration: underline;
}

/*
    Set the base font size for each header level
*/
h1 {
    font-size: var(--heading-font-size);
}

h2 {
    font-size: calc(0.8 * var(--heading-font-size));
}

h3 {
    font-size: calc(0.7 * var(--heading-font-size));
}

h4 {
    font-size: calc(0.6 * var(--heading-font-size));
}

h5 {
    font-size: calc(0.5 * var(--heading-font-size));
}

h6 {
    font-size: calc(0.45 * var(--heading-font-size));
}

/*
    Set base link color states
*/
a, a:link, a:visited {
    color: var(--link-color);
    font-weight: var(--link-font-weight);
    display: inline-block;
    text-decoration: none;
    position: relative;
    border-radius: 0.3em;
    transition: color 187.5ms ease-in-out;
}


a:focus, a:active, :focus {
    color: var(--link-color-hover);
    outline: transparent;
    background-color: var(--background-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25 + var(--underline-width)) var(--background-color),
    0 0 0 calc(var(--border-width) * 1.75 + var(--underline-width)) var(--link-color-hover);
    border-radius: 0.3em;
    transition: border 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

a:hover {
    color: var(--link-color-hover);
}

a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.5em;
    left: auto;
    right: 0;
    width: 0;
    height: calc(var(--border-width) * 0.35);
    background-color: var(--complimentary-color);
    transition: width 0.25s ease-in-out;
}

a:hover::after {
    right: auto;
    left: 0;
    width: 100%;
    height: calc(var(--border-width) * 0.4);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Tooltips */
abbr {
    position: relative;
    cursor: help;
}

abbr::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
    font-size: 0.7em;
    line-height: 1.5em;
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    background: var(--text-color);
    color: var(--background-color);
    transition: opacity 0.25s ease-out,
    background 0.25s ease-out,
    color 0.25s ease-out,
    padding 0.25s ease-out,
    width 0.25s ease-out;
}

abbr:active::after, abbr:focus::after {
    width: max-content;
    padding: 1em;
    opacity: 1;
}

/*
    Set text selection styles
*/
::selection, ::-moz-selection {
    background: var(--text-color);
    color: var(--background-color);
    text-shadow: none;
}

/*
    Set scrollbar styles (width, thumb, track)
*/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--complimentary-color);
    border-radius: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: var(--brand-color);
}

section {
    padding: 10% 0.4em;
}