/* Fonts */

/* fira-sans */
/* normal */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-100.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-100.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* thin */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(/assets/fonts/fira-sans/woff-2/fira-sans-200.woff2) format("woff2"),
    url(/assets/fonts/fira-sans/woff/fira-sans-200.woff) format("woff"),
    url(/assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(/assets/fonts/fira-sans/woff-2/fira-sans-300.woff2) format("woff2"),
    url(/assets/fonts/fira-sans/woff/fira-sans-300.woff) format("woff"),
    url(/assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* semi-light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-400.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-400.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* regular */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-500.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-500.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-600.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-600.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-700.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-700.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* bolder */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-800.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-800.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* extra bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-900.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-900.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* super bold */
/* italic */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-100-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-100-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* thin */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-200-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-200-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-300-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-300-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* semi-light */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-400-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-400-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* regular */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-500-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-500-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* medium */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-600-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-600-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-700-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-700-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* bolder */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-800-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-800-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* extra bold */
@font-face {
    font-family: fira-sans;
    src: local('Fira Sans'),
    url(../assets/fonts/fira-sans/woff-2/fira-sans-900-italic.woff2) format("woff2"),
    url(../assets/fonts/fira-sans/woff/fira-sans-900-italic.woff) format("woff"),
    url(../assets/fonts/fira-sans/ttf/fira-sans-100.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* super bold */
/* roboto-slab */
@font-face {
    font-family: roboto-slab;
    src: local('Roboto Slab'),
    url(../assets/fonts/roboto-slab/woff-2/roboto-slab-variable.woff2) format("woff2"),
    url(../assets/fonts/roboto-slab/woff/roboto-slab-variable.woff) format("woff"),
    url(../assets/fonts/roboto-slab/ttf/roboto-slab-variable.ttf) format("truetype");
}

/*
    Add root and brand information. Colors, font values, font sizes and line height.
    The font size and line height calculators calculate the base font(line) size taking into account the smaller and
    bigger currently available screens (320 on cell phone, 8k resolution TV) and the size of the scrollbar. It also
    uses em measurement unit to take into account user preferences set through the browser. Values of the first term of
    the multiplication correspond to desired maximum and minimum font(line) size values (i.e. 48px, 14px).

    Inspired by this article https://www.madebymike.com.au/writing/precise-control-responsive-typography/
*/
:root {
    --brand-color: #25B54D;
    --accent-color: #2F2E40;
    --complimentary-color: #B5255A; /*#DDEF53ff;*/
    --text-color: #FEFFEA;
    --title-color: #84E7E9;
    --link-color: var(--brand-color);
    --link-color-hover: #84E7E9;
    --hover-color: var(--complimentary-color);
    --focus-color: #B57725; /*#74fa5f;*/
    --background-color: #1A0C12; /*fafafaff*/
    --box-shadow-color: #08080866;

    --font-family-title: roboto-slab;
    --font-family-text: fira-sans;
    --font-size: calc(1em + (48 - 14) * ((100vw - 320px) / (7680 - 320 - 16)));
    --line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 320px) / (7680 - 320 - 16)));
    --heading-font-size: calc(var(--font-size) * 2.5);
    --text-font-weight: 300;
    --link-font-weight: 400;
    --title-font-weight: 500;
    --letter-spacing: 0.045em;
    --border-width: 0.25em;
    --underline-width: 0.1em;
}

/*
    Set base text color, background color, font properties. Scroll behavior dictates how the page will move to a
    scrolling anchor. Smooth makes it roll to the anchor smoothly.
*/
html {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-family-text);
    line-height: var(--line-height);
    letter-spacing: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    overflow-wrap: anywhere;
    transition: color 187.5ms ease-in-out,
    background-color 0.25s ease-in-out,
    border 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
    position: absolute;
    top: 0;
    max-width: 100vw;
    width: 100%;
}

body * {
    box-sizing: inherit;
}

/*
    Font family for headers
*/
h1, h2, h3, h4, h5, h6, label {
    font-family: var(--font-family-title);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    line-height: 1.25em;
    transition: color 187.5ms ease-in-out;
    text-shadow: 0.07em 0.07em 0.25em var(--box-shadow-color);
}

h1, h2 {
    text-decoration: underline;
}

/*
    Set the base font size for each header level
*/
h1 {
    font-size: var(--heading-font-size);
}

h2 {
    font-size: calc(0.8 * var(--heading-font-size));
}

h3 {
    font-size: calc(0.7 * var(--heading-font-size));
}

h4 {
    font-size: calc(0.6 * var(--heading-font-size));
}

h5 {
    font-size: calc(0.5 * var(--heading-font-size));
}

h6 {
    font-size: calc(0.45 * var(--heading-font-size));
}

/*
    Set base link color states
*/
a, a:link, a:visited {
    color: var(--link-color);
    font-weight: var(--link-font-weight);
    display: inline-block;
    text-decoration: none;
    position: relative;
    border-radius: 0.3em;
    transition: color 187.5ms ease-in-out;
}

/* We customize the behaviour of links when somenone clicks on them
    and also the behavior of other thinks clickable..*/
a:focus, a:active, :focus {
    color: var(--link-color-hover);
    outline: transparent; /* Mkaing sure the outline is transaparent.*/
    background-color: var(--background-color);
    /* We give all links two shadows. The first has the background color and is smaller than the second 
        although it appears like it has a higher z-index, so it's above the second. This creates a border like
        effect when focusing on it. The values of box shadows are h and v-offset, blur, spread and color.*/
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25 + var(--underline-width)) var(--background-color),
    0 0 0 calc(var(--border-width) * 1.75 + var(--underline-width)) var(--link-color-hover); 
    border-radius: 0.3em;
    /* We use  transitions to make sure there is an animation from one state to the other.
        ease-it-out just makes things smoother and prohibits them from annoying flickering.
        We declare on what we apply the transition by using the border value.*/
    transition: border 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

/* Link hover behaviour*/
a:hover {
    color: var(--link-color-hover);
}

/* After is a pheudo element, this means although it looks, it doesn't exist in the 
    .html file. This one is just a straight line, the line under the links.
    We use after so we can have more options on costumizing the line.*/
a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: calc(var(--border-width) * 0.35);
    background-color: var(--complimentary-color);
    transition: width 0.25s ease-in-out;
}

/* Here we costumize the behaviour of the pseudo element while hovering.
    If you look closely we made a simple but interesting effect.
    The line opens smoothly towards the right and then disapears towards the 
    right following the first transition. We do that by making the line change 
    sides under the link. The user does't get cause it's already full size but 
    when he stops hovering the line disappears on the opposite direction.*/
a:not(.btn):hover::after {
    right: auto;
    left: 0;
    width: 100%;
    height: calc(var(--border-width) * 0.4);
}

/* We make images blocks, it's the most easy way to customize the width and height.*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Tooltips */
/* When some one hovers above an abbreviation the cursor turns into
    a question mark.*/
abbr {
    position: relative;
    cursor: help;
}

/* This pheudo element is for the custom pop up of an abbr,
    it's a box with content th content of the titke of an abbr.
    This box is invisible, it appears only when someone hovers above
    the abbr.
    */
abbr::after {
    content: attr(title);
    position: absolute; /* Gets it out of the content flow.*/
    bottom: 100%;
    left: 0;
    display: block;
    font-size: 0.7em;
    line-height: 1.5em;
    opacity: 0;
    width: 0; /* Makes it invisible.*/
    overflow: hidden;
    white-space: nowrap;
    background: var(--text-color);
    color: var(--background-color);
    border: var(--border-width) dashed var(--background-color);
    /* Just because it is a pop up we need to make sure that everything is smooth.
        So we put transitions on every little thing we came up with.*/
    transition: opacity 0.25s ease-out,
    background 0.25s ease-out,
    color 0.25s ease-out,
    padding 0.25s ease-out,
    width 0.25s ease-out;
}

/* Here we manifest it.*/
abbr:active::after,
abbr:focus::after,
abbr:hover::after {
    width: max-content;
    padding: 1em;
    opacity: 1; /* Makes it a little bit transparent*/
    /* This shadow is different from the others cause makes the abbr more 3d-like.*/
    box-shadow: var(--border-width) var(--border-width) var(--border-width) var(--border-width) var(--box-shadow-color);
}

/* Font costumization for strong.*/
strong {
    font-weight: 650;
    text-decoration: underline;
    margin: 0 0.25em;
    letter-spacing: 0.05em;
}

/* Font costumization for em.*/
em {
    color: var(--brand-color);
}

/* Here we costumize some extra tags that are used atlist once.*/
b.attention {
    text-decoration: underline double 2px;
}

del {
    text-decoration: line-through 3px var(--complimentary-color);
    font-size: calc(var(--font-size) * 0.65);
}

ins {
    text-decoration: underline 3px var(--complimentary-color);
    font-size: calc(var(--font-size) * 0.8);
}

/*
    Set text selection styles
*/
::selection {
    background: var(--text-color);
    color: var(--background-color);
    text-shadow: none;
}

/*
    Set scrollbar styles (width, thumb, track)
*/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--complimentary-color);
    border-radius: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: var(--brand-color);
}

section {
    padding: 3em 0.4em;
}

.clearfix {
    visibility: hidden;
    clear: both;
}