body {
    padding: calc(max(10vh, 150px) + 2.5%) 0 0;
}

header {
    border-bottom-width: 5px;
    padding: 1% 5%;
}

.branding h1 {
    font-size: 3rem;
}

.button-wrapper {
    width: min(6em, 10vmin);
    height: min(6em, 10vmin);
    padding: min(0.75em, 1vmin) min(0.75em, 1vmin);
}

.logo {
    max-width: min(175px, 15vh);
}

.primary-navigation ul {
    font-size: 3em;
}

@keyframes jump-2 {
    10% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200%);
    }
    85%, 100% {
        transform: translateY(-250%);
    }
}

.btn.cta-link {
    margin-top: 4em;
}

.hero-section .btn.cta-link,
.outcomes .btn.cta-link {
    margin-top: 2em;
}

.educational-content .heading,
.educational-content .description {
    margin: 2%;
}


.cta {
    width: calc(30em + (480 - 160) * ((100vw - 320px) / (7680 - 320 - 16)));
}

.cta .heading {
    font-size: calc(1.3 * var(--heading-font-size));
}

.sponsors img {
    max-width: 25vw;
}

.sponsors .heading {
    font-size: var(--heading-font-size);
}

.outcomes .heading,
.testimonials > .heading {
    font-size: calc(var(--font-size) * 2);
}

.social-media li {
    width: max(7.5%, 3em);
}