/* -----
    These are the styles needed for the index.html.
----- */

/* Hero section is a flex with space applied around each child.*/
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* This means that every section which is child of the main
    and it's number of occurance is an even number, 
    gets a different background color.*/
main > section:nth-of-type(2n) {
    background-color: var(--accent-color);
}

/* In a same way 3d-buttons that are childs of those sections
    get a different color.*/
main > section:nth-of-type(2n) .link-3d-front {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* We dont forget to do the same for the other side of the button.*/
main > section:nth-of-type(2n) .link-3d-back {
    background-color: var(--focus-color);
}

/* Similarly we customize also link colors.*/
body main > section:nth-of-type(2n) .heading a:focus,
body main > section:nth-of-type(2n) .heading a:active {
    background-color: var(--accent-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--complimentary-color);
}

/* Customization for buttons*/
body main > section:nth-of-type(2n) a.btn.secondary-button {
    background: linear-gradient(66deg, var(--accent-color) 30%, var(--complimentary-color) 60%, var(--brand-color) 80%)
    repeat 0 -180px;
    background-size: 100% 480px;
    transition: background-position 0.25s ease-in-out;
}

/* Customization for buttons on hover.*/
body main > section:nth-of-type(2n) a.btn.secondary-button:hover {
    background-position: 0 0;
}

/* Customization for buttons on focus.*/
body main > section:nth-of-type(2n) a.btn.secondary-button:focus,
body main > section:nth-of-type(2n) a.btn.secondary-button:active {
    background-color: var(--complimentary-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--complimentary-color);
}

/* Customization for images.*/
main > section:nth-of-type(2n) .card a:first-child:focus img,
main > section:nth-of-type(2n) .card a:first-child:active img {
    border-radius: 1.3em;
    background-color: var(--accent-color);
    box-shadow: 0 0 0 var(--border-width) var(--link-color),
    0 0 0 0.65em var(--accent-color),
    0 0 0 0.95em var(--hover-color);
}

/* Customization for links*/
main > section:nth-of-type(2n) .card a:first-child:focus,
main > section:nth-of-type(2n) .card a:first-child:active {
    background-color: var(--accent-color);
}

/* Customization for wrapper of the 3d-button*/
main > section:nth-of-type(2n) .cta-link {
    border-radius: 0;
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--accent-color);
}

/* Customization for the 3d-button on focus.*/
body main > section:nth-of-type(2n) a.btn.cta-link:active,
body main > section:nth-of-type(2n) a.btn.cta-link:focus {
    background-color: var(--accent-color);
    box-shadow: 0 var(--border-width) 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 var(--border-width) 0 calc(var(--border-width) * 1.75) var(--focus-color);
}

/* Customization for the scrollbar if it exists.*/
main > section:nth-of-type(2n) .description::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

/* Here we make some font changes*/
.sponsors .heading {
    text-decoration: none;
    font-size: calc(var(--heading-font-size) * 0.7);
    line-height: 1.1;
    margin: 0 auto 1.5em auto;
    text-align: center;
}

/* We choose a flex to organize all the the images.
    We need wrap so the images change line when space is 
    not enough. It also looks realy fluid.
    Row gap has meaning when the images are distributed 
    in defferent rows. It gives a space between them.*/
.sponsors .images-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4vmin;
}

/* By making the width equal to this calculation,
    images change their size along with the viewport width, witch means 
    that they stop wrapping randomly and maintain a certain form.*/
.sponsors img {
    width: calc(33vw - 1em);
    border-radius: 50%;
    border: 0.2em solid var(--complimentary-color);
    box-shadow: 0.1em 0.1em 0.9em 0.1em var(--box-shadow-color);
}

/* Styles for every educational content are trivial.*/
.educational-content {
    padding-left: 0;
    padding-right: 0;
}

.educational-content section {
    padding: 0;
    margin: 0;
}

.educational-content .heading,
.educational-content .description {
    margin: 5%;
}

.educational-content > .heading {
    font-size: calc(var(--heading-font-size) * 0.9);
}

/* With the fllowing styles we just give a paragraph effect to the promo section.*/
.educational-content .promo {
    margin: 2.5em 0;
}

.promo .heading {
    font-size: calc(var(--font-size) * 1.4);
    line-height: 1.2;
}

.promo .heading,
.promo .description {
    margin-left: 7.5%;
}


/* We center the button.*/
.educational-content .cta-link {
    left: 50%;
    transform: translateX(-50%);
}

/* Outcomes have more padding vertically and as a background it utilizes a svg.*/
.outcomes {
    padding: 1.6em 0.8em;
    background-image: url("../assets/images/graphics/backgrounds/background-pattern.svg");
}

/* Thats the costumization of the grey card in the middle.*/
.outcomes .background-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.8em;
    background-color: var(--accent-color);
    opacity: 0.97; /* As you can see it's transparent.*/
    border-radius: 20px; /* With rounded corder.*/
}

/* .no-mobile is a class given to elements that don't appear in
    the mobile version. Here this is an image snd we set the max width.*/
.outcomes .no-mobile {
    max-width: min(45vw, 550px);
}

/* Further trivial customization o single elements.*/
.outcomes .heading {
    font-size: calc(var(--font-size) * 1.4);
    margin-top: 0;
}

.report {
    white-space: nowrap;
}

.report cite a {
    color: var(--complimentary-color);
}

.report cite a:hover {
    color: var(--link-color-hover);
}

.outcomes .report cite a:active,
.outcomes .report cite a:focus {
    background-color: var(--accent-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--link-color-hover);
}

/* Specific costumization for the font in testimonials.*/
.testimonials > .heading {
    margin: 0 auto 1.5em;
}

/* The list of testimonials is a list organized by a grid.
    By using the auto-fit value of grids we can let ther browser wrap 
    the contents in different rows unless there is enough space in the same row 
    to put several cards together.*/
.testimonials article[role="region"] > ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    grid: auto-flow / repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

/* Here we set the styles for the testimonial cards...
    they are quite similar to the previous cards we made so explanation 
    is trivial.*/
.testimonial {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2em;
    font-size: 90%;
}

.testimonial img {
    border-radius: 50%;
    box-shadow: none;
    border: var(--border-width) solid var(--brand-color);
    width: 75%;
    height: auto;
    max-width: calc(75vw - 2em);
    margin: auto;
}

.testimonial .content-wrapper {
    padding: 0 1em;
    margin: 1em auto;
    border: var(--border-width) solid var(--brand-color);
    border-radius: var(--border-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.testimonial .content-wrapper > * {
    margin: 1em auto;
}

.testimonial .heading {
    font-size: calc(var(--font-size) * 1.25);
}

.testimonial .info {
    padding: 0;
    list-style: none;
}

.info li {
    position: relative;
    padding-left: 1.75em;
}

/* This pseudo element contains the svg of the bolt. 
    It appears before every list items in a regulated position of course.*/
.info li::before {
    content: url('../assets/images/graphics/bolt.svg');
    position: absolute;
    left: -0.2em;
    top: -0.2em;
}

.testimonial .content-wrapper blockquote.description {
    margin: 1em 1.75em 2em;
    position: relative;
}

/* Same idea here with two pseydo elements, after and before.
    The svg which is the content of the pseudo, appears after and before of the 
    description.*/
blockquote.description::before,
blockquote.description::after {
    content: url("../assets/images/graphics/quote.svg");
    position: absolute;
}

/* Position regulations.*/
blockquote.description::before {
    left: -3em;
    top: -3em;
}

blockquote.description::after {
    right: -2.5em;
    bottom: -3em;
}