.hero-section {
    padding: 0 0 3em;
}

main > section:nth-of-type(2n) {
    background-color: var(--accent-color);
}

main > section:nth-of-type(2n) .link-3d-front {
    background-color: var(--background-color);
}

main > section:nth-of-type(2n) .link-3d-back {
    background-color: var(--focus-color);
}

main > section:nth-of-type(2n) a:focus,
main > section:nth-of-type(2n) a:active {
    background-color: var(--accent-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--complimentary-color);
}

main > section:nth-of-type(2n) .secondary-button {
    background: linear-gradient(66deg, var(--accent-color) 30%, var(--complimentary-color) 60%, var(--brand-color) 80%)
    repeat 0 -180px;
    background-size: 100% 480px;
    transition: background-position 0.25s ease-in-out;
}

main > section:nth-of-type(2n) .secondary-button:hover {
    background-position: 0 0;
}

main > section:nth-of-type(2n) .secondary-button:focus,
main > section:nth-of-type(2n) .secondary-button:active {
    background-color: var(--complimentary-color);
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--complimentary-color);
}

main > section:nth-of-type(2n) .card a:first-child:focus img,
main > section:nth-of-type(2n) .card a:first-child:active img {
    border-radius: 1.3em;
    box-shadow: 0 0 0 var(--border-width) var(--link-color),
    0 0 0 0.65em var(--accent-color),
    0 0 0 0.95em var(--hover-color);
}

main > section:nth-of-type(2n) .cta-link {
    border-radius: 0;
    box-shadow: 0 0 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 0 0 calc(var(--border-width) * 1.75) var(--accent-color);
}

main > section:nth-of-type(2n) .cta-link:active,
main > section:nth-of-type(2n) .cta-link:focus {
    box-shadow: 0 var(--border-width) 0 calc(var(--border-width) * 1.25) var(--accent-color),
    0 var(--border-width) 0 calc(var(--border-width) * 1.75) var(--focus-color);
}

main > section:nth-of-type(2n) .description::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.sponsors .heading {
    text-decoration: none;
    font-size: calc(var(--heading-font-size) * 0.7);
    line-height: 1.1;
    margin: 0 auto 1.5em auto;
    text-align: center;
}

.sponsors .images-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4vmin;
}

.sponsors img {
    width: calc(33vw - 1em);
    border-radius: 50%;
    border: 0.2em solid var(--complimentary-color);
    box-shadow: 0.1em 0.1em 0.9em 0.1em var(--box-shadow-color);
}

.educational-content {
    padding-left: 0;
    padding-right: 0;
}

.educational-content section {
    padding: 0;
    margin: 0;
}

.educational-content .heading,
.educational-content .description {
    margin: 5%;
}

.educational-content > .heading {
    font-size: calc(var(--heading-font-size) * 0.9);
}

.educational-content .promo {
    margin: 2.5em 0;
}

.promo .heading {
    font-size: calc(var(--font-size) * 1.4);
    line-height: 1.2;
}

.promo .heading,
.promo .description {
    margin-left: 7.5%;
}

.educational-content .cta-link {
    left: 50%;
    transform: translateX(-50%);
}

.outcomes {
    padding: 1.6em 0.4em;
    background-image: url("../assets/images/graphics/backgrounds/background-pattern.svg");
}

.outcomes .content-wrapper {
    padding: 1.8em;
    background-color: var(--accent-color);
    opacity: 0.97;
    border-radius: 20px;
}

.outcomes .heading {
    font-size: calc(var(--font-size) * 1.4);
    margin-top: 0;
}

.report {
    white-space: nowrap;
}

.report cite a {
    color: var(--complimentary-color);
}

.report cite a:hover {
    color: var(--link-color-hover);
}

.testimonials > .heading {
    margin: 0 auto 1.5em;
}

.testimonials article[role="region"] > ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    grid: auto-flow / repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.testimonial {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2em;
}

.testimonial img {
    border-radius: 50%;
    box-shadow: none;
    border: var(--border-width) solid var(--brand-color);
    width: 100%;
    height: auto;
    max-width: calc(75vw - 2em);
    margin: auto;
}

.testimonial .content-wrapper {
    padding: 0 1em;
    margin: 1em auto;
    border: var(--border-width) solid var(--brand-color);
    border-radius: var(--border-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.testimonial .content-wrapper > * {
    margin: 2em auto;
}

.testimonial .heading {
    font-size: calc(var(--font-size) * 1.25);
}

.testimonial .info {
    padding: 0;
    list-style: none;
}

.info li {
    position: relative;
    padding-left: 1.75em;
}

.info li::before {
    content: url('../assets/images/graphics/bolt.svg');
    position: absolute;
    left: -0.2em;
    top: -0.2em;
}

.testimonial .content-wrapper blockquote.description {
    margin: 3em 1.75em;
    position: relative;
}

blockquote.description::before,
blockquote.description::after {
    content: url("../assets/images/graphics/quote.svg");
    position: absolute;
}

blockquote.description::before {
    left: -3em;
    top: -3em;
}

blockquote.description::after {
    right: -2.5em;
    bottom: -3em;
}