main {
    grid-area: main;
}

footer {
    grid-area: foot;
}

aside {
    grid-area: aside;
}

body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100vw;
    grid-template-areas:
        "main"
        "foot";
}

body.has-aside {
    grid-template-areas:
        "main"
        "aside"
        "foot";
    align-items: center;
    padding-top: 0;
}

@media only screen and (min-width: 48em) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "main main"
        "foot foot";
    }

    body.has-aside main .hero-section {
        grid-area: hero;
    }

    body.has-aside main .module {
        grid-area: module;
    }

    body.has-aside main {
        display: grid;
        grid-template:
            "hero hero" 100vh
            "module ." minmax(100vh, max-content)
            / 65% 10fr;
        row-gap: 2em;
    }

    body.has-aside {
        grid-template-columns: 65% 10fr;
        grid-template-rows: 100vh minmax(100vh, max-content) 0;
        grid-template-areas:
        "main main"
        "main main"
        ". aside"
        "foot foot";
    }

    aside {
        grid-row: 2 / 4;
    }
}

@media only screen and (min-width: 67.5em) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "main main main"
        "foot foot foot";
    }

    body.has-aside main {
        grid-template:
                "hero hero hero" 100vh
                "module module ." minmax(100vh, max-content)
                / 35% 25% 30fr;
    }

    body.has-aside {
        grid-template-columns: 35% 25% 30fr;
        grid-template-rows: 100vh minmax(100vh, max-content) 0;
        grid-template-areas:
        "main main main"
        "main main main"
        ". . aside"
        "foot foot foot";
    }
}

@media only screen and (min-width: 90em) {
    body {
        grid-template-columns: 1fr 32% 32% 32% 1fr;
        grid-template-areas:
            "main main main main main"
            "foot foot foot foot foot";
    }

    body.has-aside main {
        grid-template:
                ". hero hero hero hero" 100vh
                ". module module . ." minmax(100vh, max-content)
                / 1fr 30% 15% 20fr 1fr;
    }

    body.has-aside {
        grid-template-columns: 1fr 30% 30% 20fr 1fr;
        grid-template-areas:
            ". main main main main"
            ". main main main main"
            ". . . aside ."
            "foot foot foot foot foot";
    }
}