/* -----
    Here we set the styles that are appropriate for small devices.
----- */

/* Of course we start with the header.*/
.branding h1 {
    font-size: 1.5rem;
}

/* We set the custom size of the wrapper so it fits nicely in screen.*/
.button-wrapper {
    width: min(5.3em, 8.5vmin);
    height: min(5.3em, 8.5vmin);
    padding: min(0.625em, 1vmin) min(0.75em, 0.85vmin);
}

/* This is a costumization for the menu, olny the font size
    will do.*/
.primary-navigation ul {
    font-size: 2.25em;
}

/* We also customize the period and position of each animation.*/
@keyframes jump-2 {
    10% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200%);
    }
    85%, 100% {
        transform: translateY(-205%);
    }
}

/* We change the width of the 3-d button for scalbility.*/
.cta {
    width: calc(20em + (480 - 160) * ((100vw - 320px) / (7680 - 320 - 16)));
}

/* This style is for body elements that have an aside.*/
.has-aside .hero-section {
    background: linear-gradient(45deg, var(--background-color) 35%,
    var(--complimentary-color) 60%,
    var(--brand-color) 80%,
    var(--background-color) 97.5%);
}

/* Some regulations for links that exist in has-aside body elements.*/
.has-aside .breadcrumbs .breadcrumb a {
    font-size: calc(var(--font-size) * 0.85);
    padding: 0 15px;
}

/* Same here for svg's*/
.has-aside .breadcrumbs .breadcrumb li svg {
    width: 18px;
    height: 18px;
}

/* Same with these psuedo element. These are the psuedo elements that make the 
    navigation bar on top.*/
.has-aside .breadcrumbs .breadcrumb li:first-child::before,
.has-aside .breadcrumbs .breadcrumb li:first-child::after {
    left: 6px;
}

/* Here we adjust the section that gives the details for paths.*/
.has-aside .module {
    padding: 0 4em;
}

/* Just a customization so it fits better.*/
.has-aside .module .heading {
    font-size: calc(0.6875 * var(--heading-font-size));
}

/* We update the calculation so the images don't wrap irregurarly 
    and keep a certain form.*/
.sponsors img {
    max-width: calc(33vw - 2.4em);
}

/* Regulating fonts.*/
.outcomes .heading {
    font-size: calc(var(--font-size) * 1.8);
}

/* Now that we are on a tablet's size we dont need a max 
    for the grid columns plus we can actually make it even wider 
    by default.*/
.testimonials article[role="region"] > ul {
    grid: auto-flow / repeat(auto-fit, 375px);
    justify-content: center;
}

