/* -----
    Tablets are literally the exact same as small tablets,
    apart from the fact that we give every width there is, 
    some extra pixels.
------ */

.branding h1 {
    font-size: 2rem;
}

.button-wrapper {
    width: min(5.3em, 8vmin);
    height: min(5.3em, 8vmin);
    padding: min(0.625em, 1vmin) min(0.75em, 0.85vmin);
}

.logo {
    /* max-width: calc(min(150px, 10vh) - 1%); */
}

.primary-navigation ul {
    font-size: 2.5em;
}

@keyframes jump-2 {
    10% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200%);
    }
    85%, 100% {
        transform: translateY(-205%);
    }
}

.educational-content .btn.cta-link {
    margin-top: 4em;
}

.educational-content .heading,
.educational-content .description {
    margin: 2.5%;
}

.sponsors img {
    max-width: calc(20vw - 1.75em);
}

.outcomes .heading {
    font-size: calc(var(--font-size) * 1.85);
}

.testimonials article[role="region"] > ul {
    grid: auto-flow / repeat(auto-fit, minmax(333px, 1fr));
    justify-content: center;
}

li[aria-roledescription="testimonial"]:last-child {
    transform: translateX(50%);
}

.cta {
    width: calc(24em + (480 - 160) * ((100vw - 320px) / (7680 - 320 - 16)));
}

.has-aside .hero-section {
    background: linear-gradient(45deg, var(--background-color) 35%,
    var(--complimentary-color) 60%,
    var(--brand-color) 80%,
    var(--background-color) 97.5%);
}

.has-aside .hero-section .heading {
    margin-top: 0;
}

.has-aside .breadcrumbs .breadcrumb a {
    font-size: calc(var(--font-size) * 0.9);
    padding: 0 20px;
}

.has-aside .breadcrumbs .breadcrumb li:first-child {
    border-left: 2px solid var(--accent-color);
}

.has-aside .breadcrumbs .breadcrumb li svg {
    width: 20px;
    height: 20px;
}

.has-aside .breadcrumbs .breadcrumb li:first-child::before,
.has-aside .breadcrumbs .breadcrumb li:first-child::after {
    left: 5px;
}

.has-aside .module details dt {
    font-size: calc(1 * var(--font-size));
}

.has-aside .module details dd {
    font-size: calc(0.85 * var(--font-size));
}

.has-aside .module details[open] > :not(summary, .heading) {
    padding: 0 2em;
}

.has-aside .module .heading {
    font-size: calc(0.6875 * var(--heading-font-size));
}

.has-aside .module details .heading {
    padding-left: 1em;
    font-size: calc(0.6 * var(--heading-font-size));
}

.has-aside table th {
    width: 57.5%;
}

.has-aside table td {
    width: 45%;
}